<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- general application log -->

    <appender name="MainLogFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="info.log" />
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n" />
        </layout>
    </appender>
    <appender name="ReportAppender" class="com.epam.mentorship.service.utilities.ReportAppender">
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c{1} - %m%n" />
        </layout>
    </appender>
    <appender name="MainLogConsole" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n" />
        </layout>
    </appender>
    <appender name="ErrorLogFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="err.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n" />
        </layout>
    </appender>

    <logger name="ErrorLoger">
        <level value="ERROR" />
        <appender-ref ref="ErrorLogFile" />
    </logger>
    <root>
        <level value="INFO" />
        <appender-ref ref="MainLogFile" />
        <appender-ref ref="MainLogConsole" />
        <appender-ref ref="ReportAppender"/>

    </root>
</log4j:configuration>